{% extends "partner_app/base.html" %}
{% load static %}
{% load django_vite %}
{% vite_hmr_client %}
{% block title %}Панель управления{% endblock title %}
{% block head_js_scripts %}
{% vite_asset 'partner_app/assets/js/dashboard/advertiser.js' %}
{% endblock %}


{% block header %}
{% include "partner_app/dashboard/advertiser/header.html" %}
{% endblock %}

{% block main_class %}bg-base-200 min-h-screen{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6 max-w-7xl">

    <!-- Dashboard Page -->
    {% include "partner_app/dashboard/advertiser/dashboard.html" %}

    <!-- Sales Page -->
    {% include "partner_app/dashboard/advertiser/sales.html" %}

    <!-- Projects Page -->
    {% include "partner_app/dashboard/advertiser/projects.html" %}

    <!-- Partners Page -->
    {% include "partner_app/dashboard/advertiser/partners.html" %}

    <!-- Settings Page -->
    {% include "partner_app/dashboard/advertiser/settings.html" %}
</div>

<!-- Модальное окно создания проекта -->
{% include "partner_app/dashboard/advertiser/modals/create_project.html" %}

<!-- Модальное окно для просмотра деталей проекта -->
{% include "partner_app/dashboard/advertiser/modals/project_details.html" %}

<!-- Модальное окно Удалить проект -->
{% include "partner_app/dashboard/advertiser/modals/del_project.html" %}

<!-- Модальное окно Изменить проект -->
{% include "partner_app/dashboard/advertiser/modals/edit_project.html" %}

<!-- Модальное окно Информация о партнёре -->
{% include "partner_app/dashboard/advertiser/modals/partner_details.html" %}

<!-- Модальное окно Прекратить сотрудничество с партнёром -->
{% include "partner_app/dashboard/advertiser/modals/stop_partnership_with_partner.html" %}

<!-- Модальное окно Пополнить баланс -->
{% include "partner_app/dashboard/advertiser/modals/top_up_balance.html" %}

<script>
    const msg = document.querySelector('.alert');
if (msg) {
  setTimeout(function () {
    msg.remove()
  }, 5000)
}
</script>
{% endblock content %}