{% extends "partner_app/base.html" %}
{% load static %}

{% load django_vite %}
{% vite_hmr_client %}
{% block title %}Панель управления{% endblock %}
{% block head_js_scripts %}
{% vite_asset 'partner_app/assets/js/dashboard/manager.js' %}
{% endblock %}


{% block header %}
{% include "partner_app/dashboard/manager/header.html" %}
{% endblock %}

{% block main_class %}bg-base-200 min-h-screen{% endblock %}
{% block content %}

<!-- Main Content -->
<div class="container mx-auto px-4 py-6 max-w-7xl">
  <!-- Dashboard Page -->
  {% include "partner_app/dashboard/manager/dashboard.html" %}

  <!-- Moderation Page -->
  {% include "partner_app/dashboard/manager/moderation.html" %}

  <!-- Users Management Page -->
  {% include "partner_app/dashboard/manager/users.html" %}

  <!-- Transactions Page -->
  {% include "partner_app/dashboard/manager/partner_transactions.html" %}

  <!-- Transactions Page -->
  {% include "partner_app/dashboard/manager/advertiser_transactions.html" %}
</div>

<!-- Модальное окно деталей -->
{% include "partner_app/dashboard/manager/modals/details.html" %}

<!-- Модальное окно для деталей выплаты -->
{% include "partner_app/dashboard/manager/modals/partner_transactions.html" %}

<!-- Модальное окно блокировки пользователя -->
{% include "partner_app/dashboard/manager/modals/block_user.html" %}

<!-- Модальное окно блокировки пользователя -->
{% include "partner_app/dashboard/manager/modals/unblock_user.html" %}

<!-- Модальное окно отправки реквизитов для пополнения баланса партнёра -->
{% include "partner_app/dashboard/manager/modals/invoice_advertiser.html" %}

<!-- Модальное окно обработки пополнения баланса партнёра -->
{% include "partner_app/dashboard/manager/modals/adv_transactions.html" %}

<script>
  const msg = document.querySelectorAll('.alert-message').forEach(element => {
    setTimeout(function () {
      element.classList.add('opacity-0', 'scale-90', '-translate-y-2');
      setTimeout(() => element.remove(), 300);
    }, 5000)
  });
</script>

{% endblock %}