{% extends "partner_app/base.html" %}
{% load static %}

{% load django_vite %}
{% vite_hmr_client %}
{% block title %}Панель управления{% endblock %}
{% block head_js_scripts %}
{% vite_asset 'partner_app/assets/js/dashboard/manager.js' %}
{% endblock %}


{% block header %}
{% include "partner_app/dashboard/manager/header.html" %}
{% endblock %}

{% block main_class %}bg-base-200 min-h-screen{% endblock %}
{% block content %}

<!-- Main Content -->
<div class="container mx-auto px-4 py-6 max-w-7xl">
    <!-- Dashboard Page -->
    {% include "partner_app/dashboard/manager/dashboard.html" %}

    <!-- Moderation Page -->
    {% include "partner_app/dashboard/manager/moderation.html" %}

    <!-- Users Management Page -->
    {% include "partner_app/dashboard/manager/users.html" %}

    <!-- Disputes Page -->
    {% include "partner_app/dashboard/manager/disputes.html" %}

    <!-- Transactions Page -->
    {% include "partner_app/dashboard/manager/transactions.html" %}
</div>

<!-- Модальное окно деталей -->
{% include "partner_app/dashboard/manager/modals/details.html" %}

<!-- Модальное окно решения спора -->
{% include "partner_app/dashboard/manager/modals/resolve_dispute.html" %}

<script>
    const msg = document.querySelector('.alert');
if (msg) {
  setTimeout(function () {
    msg.remove()
  }, 5000)
}
</script>

{% endblock %}