{% extends "partner_app/base.html" %}
{% load static %}

{% load django_vite %}
{% vite_hmr_client %}
{% block head_js_scripts %}
{% vite_asset 'partner_app/assets/js/dashboard/partner.js' %}
{% endblock %}
{% block title %}Панель управления{% endblock %}

{% block header %}
{% include "partner_app/dashboard/partner/header.html" %}
{% endblock %}

{% block main_class %}bg-base-200 min-h-screen{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6 max-w-7xl">

    <!-- Dashboard Page -->
    {% include "partner_app/dashboard/partner/dashboard.html" %}

    <!-- Offers Page -->
    {% include "partner_app/dashboard/partner/offers.html"%}

    <!-- My connections Page -->
    {% include "partner_app/dashboard/partner/my_connections.html" %}

    <!-- My platforms Page -->
    {% include "partner_app/dashboard/partner/my_platforms.html" %}

    <!-- Links Page -->
    {% include "partner_app/dashboard/partner/links.html" %}

    <!-- Payments Page -->
    {% include "partner_app/dashboard/partner/payments.html" %}

    <!-- Settings Page -->
    {% include "partner_app/dashboard/partner/settings.html" %}
</div>

<!-- Модальное окно вывода средств -->
{% include "partner_app/dashboard/partner/modals/withdraw.html" %}

<!-- Модальное окно добавить площадку -->
{% include "partner_app/dashboard/partner/modals/add_platform.html" %}

<!-- Модальное окно удалить площадку -->
{% include "partner_app/dashboard/partner/modals/del_platform.html" %}

<!-- Модальное окно редактировать площадку -->
{% include "partner_app/dashboard/partner/modals/edit_platform.html" %}

<!-- Модальное окно Подключиться к проекту -->
{% include "partner_app/dashboard/partner/modals/connect_project.html" %}

<!-- Модальное окно статистики подключенного проекта -->
{% include "partner_app/dashboard/partner/modals/connected_project_stats.html" %}

<!-- Модальное окно статистики площадки -->
{% include "partner_app/dashboard/partner/modals/platform_stats.html" %}

<!-- Модальное окно остановки сотрудничества -->
{% include "partner_app/dashboard/partner/modals/stop_partnership.html" %}

<!-- Модальное окно приостановки сотрудничества -->
{% include "partner_app/dashboard/partner/modals/suspend_partnership.html" %}

<!-- Модальное окно возобновления сотрудничества -->
{% include "partner_app/dashboard/partner/modals/resume_partnership.html" %}

<!-- Модальное окно генерации партнёрской ссылки -->
{% include "partner_app/dashboard/partner/modals/generate_link.html" %}
{% endblock %}