{% load static %}

<dialog id="stopPartnershipModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Прекращение сотрудничества</h3>

        <div class="py-4 space-y-4">
            <p>Вы уверены, что хотите остановить сотрудничество с проектом <span id="StopPartnershipProjectName"
                    class="font-semibold text-primary">"Название проекта"</span>?</p>

            <form id="StopPartnershipForm" method="post">
                {% csrf_token %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Причина</span>
                    </label>
                    <select class="select select-bordered w-full" name="suspension_reason" required>
                        <option disabled selected>Выберите причину</option>
                        <option>Несоответствие контента</option>
                        <option>Изменение стратегии</option>
                        <option>Другая причина</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Комментарий для рекламодателя</span>
                    </label>
                    <textarea required class="textarea textarea-bordered h-24" name="suspension_comment"
                        placeholder="Дополнительные детали..."></textarea>
                </div>
            </form>
            <div class="modal-action flex flex-col sm:flex-row gap-2">
                <form onclick="document.getElementById('stopPartnershipModal').close()" method="dialog">
                    <button class="btn btn-ghost">Отмена</button>
                </form>
                <button form="StopPartnershipForm" id="StopPartnershipSubmit" type="button" class="btn btn-error">
                    <i class="fas fa-trash-alt mr-2"></i> Прекратить сотрудничество
                </button>
            </div>
        </div>
    </div>

    <!-- Фон с блюром (только когда модальное окно открыто) -->
    <form method="dialog" class="modal-backdrop backdrop-blur-sm bg-black/30 transition-opacity duration-300
                           opacity-0 [dialog[open]_&]:opacity-100">
        <button>close</button>
    </form>
</dialog>