{% load static %}
<dialog id="confirmAdvTransactionModal" class="modal">
    <div class="modal-box rounded-2xl">
        <form method="dialog">
            <button type="button" onclick="document.getElementById('confirmAdvTransactionModal').close()"
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-xl mb-4">Подтверждение транзакции #<span id="approve_adv_transaction_id"></span></h3>
        <div class="grid grid-cols-1 gap-3">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">ФИО получателя:</span>
                </label>
                <span class="label-text" id="approve_adv_transaction_fio">Иван Иванов Иванович</span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Реквизиты:</span>
                </label>
                <span class="label-text" id="approve_adv_transaction_requisites">Реквизиты</span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email получателя:</span>
                </label>
                <span class="label-text" id="approve_adv_transaction_email">ivanov@example.com</span>
            </div>

            <!-- Сумма счёта -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Сумма платежа:</span>
                </label>
                <span class="label-text" id="approve_adv_transaction_amount">300₽</span>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Сумма пополнения с учётом комиссии:</span>
                </label>
                <span class="label-text" id="approve_adv_transaction_amount_with_commission">300₽</span>
            </div>
        </div>

        <form id="confirmAdvTransactionForm" class="mt-4 flex flex-col gap-4">
            {% csrf_token %}
            <input id="confirm_advertiser_transaction_id" name="transaction_id" hidden>

            <div class="flex justify-end gap-2">
                <button type="button" class="btn btn-outline"
                    onclick="document.getElementById('confirmAdvTransactionModal').close()">Отмена</button>        
                <button type="submit" class="btn btn-success">Подтвердить</button>
            </div>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button type="button" onclick="document.getElementById('confirmAdvTransactionModal').close()">close</button>
    </form>
</dialog>

<!-- ❌ Модальное окно отклонения -->
<dialog id="rejectAdvTransactionModal" class="modal">
    <div class="modal-box rounded-2xl">
        <form method="dialog">
            <button 
            onclick="document.getElementById('rejectAdvTransactionModal').close()"
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-xl mb-4">Отклонение транзакции #<span id="reject_adv_transaction_id"></span>
        </h3>
        <div class="grid grid-cols-1 gap-3">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">ФИО получателя:</span>
                </label>
                <span class="label-text" id="reject_adv_transaction_fio">Иван Иванов Иванович</span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Реквизиты:</span>
                </label>
                <span class="label-text" id="reject_adv_transaction_requisites">Реквизиты</span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email получателя:</span>
                </label>
                <span class="label-text" id="reject_adv_transaction_email">ivanov@example.com</span>
            </div>

            <!-- Сумма счёта -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Сумма платежа:</span>
                </label>
                <span class="label-text" id="reject_adv_transaction_amount">300₽</span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Сумма пополнения с учётом комиссии:</span>
                </label>
                <span class="label-text" id="reject_adv_transaction_amount_with_commission">300₽</span>
            </div>
        </div>

        <form id="rejectAdvTransactionForm" class="mt-4 flex flex-col gap-4">
            {% csrf_token %}
            <input id="reject_advertiser_transaction_id" name="transaction_id" hidden>
            <label class="form-control">
                <span class="label-text">Причина отклонения</span>
                <textarea name="rejection_reason" required placeholder="Укажите причину..."
                    class="textarea textarea-bordered"></textarea>
            </label>
            <div class="flex justify-end gap-2">
                <button type="button" class="btn btn-outline"
                    onclick="document.getElementById('rejectAdvTransactionModal').close()">Отмена</button>
                <button type="submit" class="btn btn-error">Отклонить</button>
            </div>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button onclick="document.getElementById('rejectAdvTransactionModal').close()">close</button>
    </form>
</dialog>