{% extends 'partner_app/base.html' %}
{% load static %}

{% load django_vite %}
{% vite_hmr_client %}
{% vite_asset 'partner_app/assets/js/index.js' %}

{% block meta %} 
<meta name="description" content="Партнёрская программа: заработок на привлечении клиентов. Статистика, уникальные ссылки. Для рекламодателей - качественный трафик." />

{% endblock meta %}
{% block title %}LinkOffer - Партнёрская программа{% endblock title %}

{% block header %}
{% include "partner_app/main/index/header.html" %}
{% endblock header %}

{% block content %}

<!-- Hero Section -->
{% include "partner_app/main/index/hero_section.html" %}

<!-- Stats Section -->
{% include "partner_app/main/index/stats_section.html" %}

<!-- Features Section -->
{% include "partner_app/main/index/features_section.html" %}

<!-- Testimonials Section -->
{% include "partner_app/main/index/testimonials_section.html" %}

<!-- Contact Section -->
{% include "partner_app/main/index/contact_section.html" %}

{% endblock content %}